body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

lit-index {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
